<!DOCTYPE html>
<html>
    <%- include('./partials/head', {title: 'cue'}) %>
    <body id="app">
        <collapsible-column toggler=".toggle" width="260px">
            <div id="navigation">
                <% if (navbar.name !== undefined) { %>
                <div class="row">
                    <get-link action="/<%= navbar.name %>" target="#content" class="title"><%= navbar.name %></get-link>
                    <div class="mobile toggle"><i class="bi bi-list"></i></div>
                </div>
                <div class="courses">
                    <div class="subtitle">Courses</div>
                    <% navbar.courses.forEach(function(course) { %> <%- include('./course/preview', { username:
                    navbar.name, course: course }) %> <% }) %>
                </div>
                <div class="users">
                    <div class="subtitle">Other Users</div>
                    <% navbar.otherUsers.forEach(function(user) { %> <%- include('./user/preview', { user: user }) %> <%
                    }) %>
                </div>
                <% } else { %>
                <div>
                    <div class="row">
                        <div class="subtitle"><i class="bi bi-list"></i></div>
                        <div class="mobile toggle"><i class="bi bi-list"></i></div>
                    </div>
                    <%- include('./login') %>
                </div>
                <div class="users">
                    <div class="subtitle">All Users</div>
                    <% navbar.allUsers.forEach(function(user) { %> <%- include('./user/preview', { user: user }) %> <%
                    }) %>
                </div>
                <% } %>
            </div>
        </collapsible-column>
        <main>
            <menu-bar class="d-flex">
                <button class="btn btn-light toggle" type="button">
                    <i class="bi bi-list"></i>
                </button>
                <div id="dynamic" class="d-flex justify-content-end w-100"></div>
            </menu-bar>
            <div id="content">
                <get-link bootstrap action="<%= url %>" target="#content"></get-link>
            </div>
        </main>
    </body>
</html>
