<!DOCTYPE html>
<html>
    <%- include('../partials/head', {title: 'All Courses'}) %>
    <body>
        <h1><%= deck.name %></h1>
        <h2>Create a new card:</h2>
        <form class="card-form" action="/cards" method="post">
            <input
                type="hidden"
                id="deck"
                name="deck"
                value="<%= deck._id %>"
            />

            <label for="question">Question:</label>
            <textarea id="question" name="question" required></textarea>

            <label for="answer">Answer:</label>
            <textarea id="answer" name="answer" required> </textarea>

            <button type="submit">Create</button>
        </form>
        <h2>Cards:</h2>
        <style>
            .cards {
                display: flex;
                flex-direction: column;
                max-width: 600px;
                gap: 1rem;
            }
            .card {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                gap: 1rem;
                padding: 1rem;
                border-radius: 0.5rem;
            }
            .card:hover {
                background-color: lightgray;
            }
            .question,
            .answer {
                flex: 1;
                /* max-width: 50%; */
            }
        </style>
        <div class="cards">
            <% cards.reverse().forEach(function(card) { %>
            <div class="card">
                <clipboard-link class="question"
                    ><%= card.question %></clipboard-link
                >
                <clipboard-link class="answer"
                    ><%= card.answer %></clipboard-link
                >
                <a href="/cards/<%= card._id %>"
                    ><img src="/icons/edit-icon.svg" alt="Edit"
                /></a>
            </div>
            <% }) %>
        </div>
        <script
            type="module"
            src="/javascripts/components/clipboardLink.component.js"
        ></script>
    </body>
</html>
