<!DOCTYPE html>
<html>
    <%- include('../partials/head', {title: deck.name}) %>
    <body>
        <%- include('./title', {deck: deck}) %>
        <h2>Cards:</h2>
        <div class="cards">
            <% cards.forEach(function(card) { %> <%- include('../card/preview', { card: card }) %> <% }) %>
        </div>

        <h2>Create a new card:</h2>
        <card-form class="card" deck_id="<%= deck.id %>"></card-form>
        <h2>Danger</h2>
        <button
            hx-delete="/decks/<%= deck.id %>"
            hx-confirm="Delete this deck?"
            hx-on::after-request="window.location.href = window.location.href.replace(/[^/]*$/, '');"
        >
            Delete Deck
        </button>
        <script type="module" src="/javascripts/components/clipboardLink.component.js"></script>
    </body>
</html>
